header{
    background:#111;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:15px 8%;
    position:sticky;
    top:0;
    z-index:1000;
}

.logo{
    display:flex;
    align-items:center;
    text-decoration:none;
}

.logo img{
    height:65px;
    width:auto;
    transition:0.3s;
}

.logo img:hover{
    transform:scale(1.05);
}